.home-page {
  height: 100vh;
  &__wrapper {
    max-height: 57.5rem;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: #fdfdfd;
    margin: 0 5rem;
    border-radius: 1rem;
  }
}
